
/* Page Defult Style */
.progress-wrap {
    position: fixed;
    right: 1.5%;
    bottom: 5%;
    height: 40px;
    width: 40px;
    cursor: pointer;
    display: block;
    border-radius: 50%;
    box-shadow: inset 0 0 0 2px rgba(0, 0, 0, 0.1);
    z-index: 10000;
    opacity: 0;
    visibility: hidden;
    transform: translateY(15px);
    transition: all 200ms linear;
    color: var(--ztc-text-text-1);
}
.progress-wrap::before {
    position: absolute;
    font-family: "FontAwesome";
    content: "\f062";
    text-align: center;
    line-height: 40px;
    font-size: 18px;
    opacity: 0;
    left: 0;
    top: 0;
    height: 40px;
    width: 40px;
    cursor: pointer;
    display: block;
    z-index: 2;
    transition: all 200ms linear;
}
.progress-wrap::after {
    position: absolute;
    font-family: "FontAwesome";
    content: "\f062";
    text-align: center;
    line-height: 40px;
    font-size: 18px;
    color: var(--ztc-text-text-2);
    left: 0;
    top: 0;
    height: 40px;
    width: 40px;
    cursor: pointer;
    display: block;
    z-index: 1;
    transition: all 200ms linear;
}

/* Header Style */
.homepage5-body .header-area.homepage5 .container-fluid {
    padding: 0%;
}
.header-area.homepage5.sticky .header-elements {
    padding: 20px 32px;
    transition: all 0.4s;
}
.homepage5-body .header-area.homepage5 .header-top-area::after,
.homepage5-body .header-area.homepage5 .header-elements::after {
    display: none;
}

.homepage5-body .header-area.homepage5 .header-top-area {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--ztc-bg-bg-1);
    padding: 10px 32px;
    border-bottom: 1px solid #E7E7E8;
    transition: all 0.4s;
    opacity: 1;
    visibility: visible;
    position: relative;
    z-index: 1;
}
.homepage5-body .header-area.homepage5 .header-top-area ul li {
    margin: 2.5% 0% !important;
}
.social-links {
    display: inline-block;
}
.social-links li a {
    height: 30px;
    width: 30px;
    text-align: center;
    line-height: 30px;
    display: inline-flex !important;
    align-items: center;
    justify-content: center;
    transition: all 0.4s;
}
.homepage5-body .header-area.homepage5 .site-logo {
    height: 50px;
    width: 250px;
}
.homepage5-body .header-area.homepage5 .header-elements .main-menu ul li ul.dropdown-padding {
    width: 250px;
}
.homepage5-body .header-area.homepage5 .header-elements .main-menu ul.small-menu {
    width: 250px;
    left: 225px;
}
.header-btn2 i,
.header-btn6 i {
    margin-left: 4px;
    transform: rotate(0deg) !important;
}
.header-area.homepage5.sticky .header-top-area {
    display: none;
}

/* About Section */
.property-content {
    margin-left: 7.5% !important;
}

/* Our Assets Section */
.apartment1-section-area .apartment-boxarea .content-area {
    padding: 24px 20px;
}
.apartment5-area {
    height: 806px;
}

/* Footer */
.footer4-section-area {
    padding: 80px 0px 0px;
}
.footer-menu .menu {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.footer4-section-area .footer-menu-area .copyright-area {
    padding-top: 0%;
    padding-bottom: 2.5%;
}
.footer4-section-area .footer-menu-area .copyright-area p {
    color: var(--ztc-text-text-2);
    font-family: var(--ztc-family-font2);
    font-size: var(--ztc-font-size-font-s16);
    font-style: normal;
    font-weight: var(--ztc-weight-medium);
    line-height: 24px;
    transition: all 0.4s;
    opacity: 1;
}


/* Responsive Mode */
@media only screen and (max-width: 768px) {
    .footer-menu .menu {
        flex-direction: column;
    }
    .footer-menu .menu li {
        margin: 1% 0%;
    }
}

.property3-section-area .property-images .img2 {
    position: relative;
    margin-top: -70px;
    margin-left: 100px;
}



/* BG For All Sections */
.others1-section-area {
    position: relative;
    z-index: 1;
    background-image: url(../img/bg/records-bg.webp);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.footer4-section-area {
    background: url(../img/bg/footer-bg.webp);
    background-position: bottom center;
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
    z-index: 1;
}