
/* Header Style */
.homepage5-body .header-area.homepage5 .container-fluid {
    padding: 0%;
}
.header-area.homepage5.sticky .header-elements {
    padding: 20px 32px;
    transition: all 0.4s;
}
.homepage5-body .header-area.homepage5 .header-top-area::after,
.homepage5-body .header-area.homepage5 .header-elements::after {
    display: none;
}

.homepage5-body .header-area.homepage5 .header-top-area {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--ztc-bg-bg-1);
    padding: 10px 32px;
    border-bottom: 1px solid #E7E7E8;
    transition: all 0.4s;
    opacity: 1;
    visibility: visible;
    position: relative;
    z-index: 1;
}
.homepage5-body .header-area.homepage5 .header-top-area ul li {
    margin: 2.5% 0% !important;
}
.social-links {
    display: inline-block;
}
.social-links li a {
    height: 30px;
    width: 30px;
    text-align: center;
    line-height: 30px;
    display: inline-flex !important;
    align-items: center;
    justify-content: center;
    transition: all 0.4s;
}
.homepage5-body .header-area.homepage5 .site-logo {
    height: 50px;
    width: 250px;
}
.homepage5-body .header-area.homepage5 .header-elements .main-menu ul li ul.dropdown-padding {
    width: 250px;
}
.homepage5-body .header-area.homepage5 .header-elements .main-menu ul.small-menu {
    width: 250px;
    left: 225px;
}
.header-btn6 i {
    margin-left: 4px;
    transform: rotate(0deg);
}